.inactive {
    display:none;
}
.edit .add {
    display:none;
}
.add .edit {
    display:none;
}
.current {
    background-color: aqua;
}
.current.Mechanic {
    background-color: rgb(208, 223, 8);
}
.current.Raidwide {
    background-color: rgb(245, 101, 101);
}
.current.Tankbuster {
    background-color: rgb(238, 166, 58);
}